@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F5F7;
    font-family: 'Montserrat', sans-serif;
}

.title {
    text-align: center;
    padding: 40px 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 20px 30px;
}

.image-container {
    display: flex;
    flex-direction: column;
}

.image {
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin: 0 0 10px 0;
}

.image-author {
    text-align: center;
    margin: 0 0 30px 0;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    opacity: 0;
}

.active {
    opacity: 1;
}

.loader span {
    display: inline-block;
    width: 10px;
     height: 10px;
    border-radius: 100%;
    background-color: #3498db;
}

.loader span:nth-child(1) {
    animation: bounce 1s ease-in-out infinite;
}

.loader span:nth-child(2) {
    animation: bounce 1s ease-in-out 0.33s infinite;
}

.loader span:nth-child(3) {
    animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce{
    0%, 75%, 100%{
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  
    25%{
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  }

@media(max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px) {
    .container {
        padding: 10px;
        grid-template-columns: repeat(1, 1fr);
    }  
    
    .image {
        width: 300px;
        height: 200px;
    }
}
